@inherits UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>
@{
    var content = (UmbBlockGridDemoImageBlock)Model.Content;
}
<div class="container-image">
    <img src="@content.Image.Url()" />
</div>