<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2d485ad5-eaaa-471e-8749-2488d03c3afe" Alias="tutorialPage" Level="1">
  <Info>
    <Name>TutorialPage</Name>
    <Icon>icon-article color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="e24e6d11-8005-47d9-9078-219a2182f34f">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>TutorialPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="53bce310-c61b-4009-96b8-360458cdc0b8">TutorialPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>8bc72357-f18e-4803-8c30-23fe3e29c5c1</Key>
      <Name>Block List Content Body</Name>
      <Alias>contentBody</Alias>
      <Definition>02ecf8c1-849d-4789-ae0d-9d42be064930</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="mainContent">Main content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>7e0813da-db79-4402-99de-82d5b8946a87</Key>
      <Caption>Main content</Caption>
      <Alias>mainContent</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>