<?xml version="1.0" encoding="utf-8"?>
<Content Key="dcb12eb7-3a15-476f-b475-c4e2b1cae57d" Alias="Tutorial Product (1)" Level="3">
  <Info>
    <Parent Key="ec4aafcc-0c25-4f25-a8fe-705bfae1d324">Products</Parent>
    <Path>/Home/Products/TutorialProduct1</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2023-08-29T09:29:46</CreateDate>
    <NodeName Default="Tutorial Product (1)" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2dd2b78d-5a75-4c61-817b-fda08db6a639">Product</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <category>
      <Value><![CDATA[Tutorial1,Tutorial2]]></Value>
    </category>
    <description>
      <Value><![CDATA[This is a demo product created through API]]></Value>
    </description>
    <features>
      <Value><![CDATA[]]></Value>
    </features>
    <photos>
      <Value><![CDATA[umb://media/38261c6c626d4425aa187b1bda01312c]]></Value>
    </photos>
    <price>
      <Value><![CDATA[150.4]]></Value>
    </price>
    <productName>
      <Value><![CDATA[Tutorial Product]]></Value>
    </productName>
    <sku>
      <Value><![CDATA[TUTORIAL-PRODUCT-123]]></Value>
    </sku>
  </Properties>
</Content>