<?xml version="1.0" encoding="utf-8"?>
<Content Key="25e84a65-2e87-4985-b42c-4f34423b075d" Alias="Tutorial Product" Level="3">
  <Info>
    <Parent Key="ec4aafcc-0c25-4f25-a8fe-705bfae1d324">Products</Parent>
    <Path>/Home/Products/TutorialProduct</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2023-08-29T09:28:39</CreateDate>
    <NodeName Default="Tutorial Product" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2dd2b78d-5a75-4c61-817b-fda08db6a639">Product</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <category>
      <Value><![CDATA[New Category,Another One]]></Value>
    </category>
    <description>
      <Value><![CDATA[This is a demo product created through API]]></Value>
    </description>
    <features>
      <Value><![CDATA[]]></Value>
    </features>
    <photos>
      <Value><![CDATA[[
  {
    "key": "5217067b-176e-42d1-87a5-7f58f26b4966",
    "mediaKey": "33591007-6ddb-4381-acb7-87c4c89cad06"
  }
]]]></Value>
    </photos>
    <price>
      <Value><![CDATA[150.35]]></Value>
    </price>
    <productName>
      <Value><![CDATA[Tutorial Product Updated]]></Value>
    </productName>
    <sku>
      <Value><![CDATA[TUTORIAL-PRODUCT-123]]></Value>
    </sku>
  </Properties>
</Content>