@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<UmbracoTutorial.ViewModels.ProductListingViewModel>

<div>
    @foreach (var product in Model.Products)
    {
        <strong>@product.id | @product.name</strong>
        <img src="@product.imageUrl"/>    
    }
</div>