<?xml version="1.0" encoding="utf-8"?>
<DataType Key="02ecf8c1-849d-4789-ae0d-9d42be064930" Alias="Content Body - Block List" Level="1">
  <Info>
    <Name>Content Body - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "b3d510f7-b0d2-4db7-8ceb-d712e72756d9",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "Rich Text Editor",
      "settingsElementTypeKey": "a846d8d3-6ac6-4f63-93f6-7df362313038",
      "stylesheet": null,
      "thumbnail": null,
      "view": "~/App_Plugins/BlockListElements/RichText/RichText.html"
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "481218a7-cfcd-4b96-875e-fdb4c07839fe",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "Image",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": "~/App_Plugins/BlockListElements/Image/Image.html"
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "bd0fa382-64d5-4af3-8357-19775b2534e6",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "Product listing",
      "settingsElementTypeKey": "38dd90ee-65fe-4928-af94-c9ea78094f5a",
      "stylesheet": null,
      "thumbnail": null,
      "view": "~/App_Plugins/BlockListElements/ProductListing/productlisting.html"
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>