<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8c87ce5f-d815-4223-8134-6108e6f3085f" Alias="Person - Github User - GitHub User" Level="1">
  <Info>
    <Name>Person - Github User - GitHub User</Name>
    <EditorAlias>gitHubUser</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>