<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2714adac-36e4-401e-baa8-3b86df751012" Alias="RichText Settings - Background Color - Color Picker" Level="1">
  <Info>
    <Name>RichText Settings - Background Color - Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "{\"value\":\"e06666\",\"label\":\"e06666\"}"
    },
    {
      "id": 2,
      "value": "{\"value\":\"6aa84f\",\"label\":\"6aa84f\"}"
    },
    {
      "id": 3,
      "value": "{\"value\":\"9fc5e8\",\"label\":\"9fc5e8\"}"
    }
  ],
  "UseLabel": false
}]]></Config>
</DataType>